html {
    scroll-behavior: smooth;
}

#backToTopBtn {
    position: fixed;
    background-color: black;
    color: rgb(0, 123, 255);
    padding: 5px 10px;
    bottom: 30px;
    right: 25.5px;
    z-index: 99;
    font-size: xx-large;
    font-weight: 700;
    border: 2px solid rgb(0, 123, 255);
    outline: none;
    cursor: pointer;
    display: none;
    transition: 0.5s;
}

#backToTopBtn:hover {
    box-shadow: 0 0 1px 2px rgb(0, 123, 255);
}

/* ---------------------------Responsive--------------------------------- */
@media screen and (max-width: 360px) {
    #backToTopBtn {
        padding: 5px 8px;
        font-size: x-large;
    }
}